<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tiffany Voorhees">
    <meta name="description" content="CSE 340 Wep Site by Tiffany Voorhees">
    <title><%- title %> | CSE 340 App | Tiffany Voorhees</title>
    <link rel="icon" type="images/x-icon" href="/images/site/favicon-32x32.png">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-md.css">
    <link rel="stylesheet" href="/css/form.css">

    <script src="/js/script.js" defer></script>
</head>