<h1>Welcome to CSE Motors!</h1>

<section class="grid-item-description">
    <img id="home-product-image" src="../images/vehicles/delorean.jpg" alt="delorean">
    <div id="home-description">
        <h2 id="product-title">DMC Delorean</h2>
        <ul id="product-details">
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy Dice</li>
        </ul>
        <button class="action-button">Own Today</button>
    </div>
</section>

<div class="product-grid-container">
    <section class="grid-item-upgrades">
        <h2 class="grid-item-header">Delorean Upgrades</h2>
        <div id="upgrade-grid">
            <figure class="upgrade-grid-item">
                <img src="../images/upgrades/flux-cap.png" alt="Upgrade - Flux Capacitor">
                <figcaption><a href="#">Flux Capacitor</a></figcaption>
            </figure>
            <figure class="upgrade-grid-item">
                <img src="../images/upgrades/flame.jpg" alt="Upgrade - Flame Decals">
                <figcaption><a href="#">Flame Decals</a></figcaption>
            </figure>
            <figure class="upgrade-grid-item">
                <img src="../images/upgrades/bumper_sticker.jpg" alt="Upgrade - Bumper Sickers">
                <figcaption><a href="#">Bumper Stickers</a></figcaption>
            </figure>
            <figure class="upgrade-grid-item">
                <img src="../images/upgrades/hub-cap.jpg" alt="Upgrade - Hub Caps">
                <figcaption><a href="#">Hub Caps</a></figcaption>
            </figure>
        </div>
    </section>

    <section class="grid-item-reviews">
        <h2 class="grid-item-header"> DMC Delorean Reviews</h2>
        <ul id="product-reviews">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
</div>