/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px auto;
}

:root{
  --paragraph-font: 'Raleway', sans-serif;

  --dark-color: #000000;
  /* --dark-contrast: #F57B89; */

  --light-color: #FFFFFF;
  --light-contrast: #902A37;
  --light-contrast-transparent: #902A3770;
}

body{
  padding: 1rem;
}

.main-container{
  margin: 0 auto;
} 

main{
  background-color: var(--light-color);
}

.grid-item-description{
  position: relative;
}

.grid-item-description img{
  width: 75%;
  height: auto;
  display: block;
}

#home-description{
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  color: var(--light-contrast);
}

#product-title{
  font-size: 1rem;
}

#product-details{
  list-style-type: none;
  padding: 5px 0;
  font-size: .8rem;
}

nav{
  background-color: var(--dark-color);
  color: var(--light-color);
  margin: 0 auto 2rem;
}

.navigation{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.navigation li{
  flex: 1 1 auto;
}

.navigation a{
  display: block;
  color:var(--light-color);
  padding: 0.75rem;
  text-decoration: none;
  text-align: center;
}

.navigation a:link, .navigation a:visited{
  color:var(--light-color);
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: var(--light-contrast);
}

.wrap{
  flex-wrap: wrap;
}

#top-header{
  display: flex;
  padding: 5px;
}

.siteName{
  flex-grow: 1;
  text-align: left;
}

#tools{
  flex-grow: 1;
  text-align: right;
}

.siteName a{
  text-decoration: none;
  color: var(--dark-color);
  font-size: 2em;
}

#tools a{
  text-decoration: none;
  color: var(--dark-color);
}

footer{
  margin-top: 10px;
}

#upgrade-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}

.product-grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
}

.upgrade-grid-item{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid var(--light-contrast);
  padding: 5px;
}

.upgrade-grid-item img{
  max-width: 100%;
  max-height: 100%;
}

.action-button{
  background-color:var(--primary-color);
  font-weight: bold;
  font-size: large;
  color: var(--light-contrast);
  padding: 10px;
  border: 2px solid var(--light-contrast);
  border-radius: 10px;
}

.action-button:hover{
  color: var(--light-contrast);
  font-size: larger;
}

h1{
  text-align: center;
  padding-bottom:.5rem;
  color: var(--light-contrast);
}

h2{
  color: var(--light-contrast);
}

section{
  padding: 5px;
  margin: 5px;
}

/* For the grid classification view */
#inv-display{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0;
  margin: 0;
}

#inv-display li{
  display: grid;
  list-style: none;
  width: 100%;
  border: 1px solid var(--light-contrast);
  padding: 0.5rem;
}

#inv-display img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.namePrice{
  width:100%;
  text-align: center;
}

.namePrice hr{
  margin-top: 1rem;
}

.namePrice h2{
  font-size: 1rem;
  margin: 1rem;
}

.namePrice span{
  color: var(--primary-color);
  font-weight: bold;
}

.namePrice a:link{
  color: var(--light-contrast);
}

.namePrice a:visited{
  text-decoration: underline;
  color: var(--light-contrast);
}

.namePrice a:hover{
  text-decoration: underline;
  color: var(--dark-color);
}


/* For Display Item View*/
.info-container{
  padding: 1rem;
}

#itemImage img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.detail-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.detail-section p{
  width: 100%;
}

.detail-heading{
  font-weight: bold;
}

.item-description{
  grid-column: 1/3;
}

#price{
  color: var(--light-contrast);
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.error-grid{
  display: grid;
}
#error-pic{
  grid-column: 1/5;
  grid-row: 1/5;
}
#error-message{
  grid-column: 2/4;
  grid-row: 2/4;
  padding: 1.2rem;
}
.error-grid img{
  width:100%;
  opacity: 20%;
}
#error-message{
  font-size: 2rem;
  color:var(--primary-color);
  text-align: center;
  font-weight: bolder;
}

.menu-list{
  width: 300px;
  text-align: center;
  padding: 0;
}

.menu-item{
  list-style: none;
  border: 1px solid var(--light-contrast);
  background-color: var(--light-contrast);
  padding: 12px 20px;
  margin-bottom: 1rem;
}

.menu-item a{
  text-decoration: none;
  color: var(--light-color);
}

.menu-item a:hover{
  text-decoration: underline;
} 

#manage-inv{
  padding: 1rem;
  text-align: center;
}

#manage-inv h2{
  padding-bottom: .8rem;
}

#manage-inv select{
  padding: 12px 20px;
  margin: 8px 0;
}

#inventoryDisplay{
  margin: 0 auto;
  font-size: .8rem;
  border: 2px solid var(--light-contrast);
  border-collapse: collapse;
}

#inventoryDisplay th,
#inventoryDisplay td{
  padding: .5em 1rem;
  white-space: pre;
}

#inventoryDisplay tr:nth-child(even){
  background-color: var(--light-contrast-transparent);
}

#inventoryDisplay td a{
  color: var(--dark-color);
}

#inventory-management{
  max-width:fit-content;
  padding: 1rem;
  border: 3px solid var(--light-contrast);
}