<!-- Draw the title if provided, if not redirect to default page -->
<% if (title) { %>
    <h1 class="left-align"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block to display if needed -->
<%- messages() %>

<!-- Links for inventory management-->
<div id="inventory-management">
    <ul class="menu-list">
        <li class="menu-item"><a href="../../inv/add-classification">Add new Classification</a></li>
        <li class="menu-item"><a href="../../inv/add-inventory">Add new Inventory</a></li>
    </ul>
    <section id="manage-inv">
        <h2>Manage Inventory</h2>

        <%- adminReviewSection %>
        
        <label for="classification_id">Select a classification to see the inventory</label>
        <%- classificationSelect %>
    
        <table id="inventoryDisplay"></table>
    
        <noscript>JavaScript must be enabled to use this page.</noscript>
    </section>
    <ul class="menu-list">
        <li class="menu-item"><a href="../../account">Back to Account Manager</a></li>
    </ul>
</div>



<script src="../../js/inventory.js" defer></script>
<script src="../../js/classification-review.js" defer></script>
