<!-- Draw the title if provided, if not redirect to default page -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Error Message -->
<div class="error-grid">
    <img id="error-pic" src="/images/site/error-pic-unformatted.webp" alt="Crashed Cars for Error Background">
    <div id="error-message">
        <%- message %>
    </div>
</div>
